<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restaurant Details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'delivery/cards.css' %}" />
    <link rel="stylesheet" href="{% static 'delivery/modals.css' %}" />
    <link rel="stylesheet" href="{% static 'delivery/customer_menu.css' %}" />
    <link rel="stylesheet" href="{% static 'delivery/styles.css' %}">
  </head>

  <body>
    <section class="restaurant-hero" id="heroSection">
      <img src="{{ restaurant.picture }}" alt="{{ restaurant.name }}" />

      <div class="hero-overlay">
        <h1>{{ restaurant.name }}</h1>
        <p>{{ restaurant.address }}</p>
        <p>
          <strong>{{ restaurant.cuisine }}</strong> · ⭐ {{ restaurant.rating }}
        </p>
        <a href="{{ restaurant.location }}" target="_blank">View on Map</a>
      </div>
    </section>

    <hr />

    <section class="menu-section" id="menuSection">
      <!-- ADMIN TOP BAR (sticky) -->
      <div class="menu-top-bar">
        <input
          type="text"
          id="adminFoodSearchBox"
          placeholder="Search menu items..."
        />

        <!-- Veg Toggle-->
         <div class="veg-toggle">
          <input type="checkbox" id="vegToggle" hidden/>
          <label for="vegToggle" class="veg-switch">
            <span class="switch-thumb"></span>
            <span class="switch-label">Veg</span>
          </label>
         </div>

        <div class="menu-actions">
          <button onclick="openUpdateModal()">Update</button>
          <a href="{% url 'delete_restaurant' restaurant.id %}">Delete</a>
          <a href="{% url 'open_update_menu' restaurant.id %}">Manage Menu</a>
        </div>
      </div>

      <!-- MENU ITEMS -->
      {% if itemList %}
      <div class="card-container" id="adminMenuContainer">
        {% for item in itemList %}
        <div class="cards">
          <h4>{{ item.name }}</h4>
          <p><strong>Price:</strong> ₹{{ item.price }}</p>
          <p>
            <strong>Type:</strong> {{ item.vegeterian|yesno:"Veg,Non-Veg" }}
          </p>

          {% if item.picture %}
          <img src="{{ item.picture }}" alt="{{ item.name }}" />
          {% endif %}

          <form action="{% url 'delete_menu_item' item.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="delete-btn">Delete</button>
          </form>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p>No menu items added yet.</p>
      {% endif %}
    </section>

    <hr />

    <br />
    <a href="{% url 'admin_home' %}">⬅ Back to Admin Home</a>
    <script src="{% static 'delivery/modals.js' %}"></script>
    <script>
      const ADMIN_RESTAURANT_ID = "{{ restaurant.id }}";
    </script>
    <script src="{% static 'delivery/ajax.js' %}"></script>
    <script src="{% static 'delivery/customer_menu.js' %}"></script>
  </body>
</html>
