<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Cart</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'delivery/tables.css' %}" />
  </head>
  <body>
    Hello {{ name }}
    <a href="{% url 'customer_logout' %}">
      <button>Logout</button>
    </a>

    <!-- TOTAL + CHECKOUT (TOP) -->
    <div class="summary-bar">
      <h2>Total price: ₹ {{ total_price }}</h2>
      <form action="{% url 'checkout' name %}">
        <button class="btn-primary">Check Out</button>
      </form>
    </div>

    <div class="table-wrapper">
      <table class="table-ui">
        <thead>
          <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>

        <tbody>
          {% for ci in cart_items %}
          <tr>
            <!-- COLUMN 1: ITEM -->
            <td>
              <div style="display: flex; align-items: center; gap: 15px">
                <img src="{{ ci.item.picture }}" />

                <div>
                  <strong>{{ ci.item.name }}</strong><br />
                  <span style="color: #6b7280">{{ ci.item.description }}</span>
                </div>
              </div>
            </td>

            <!-- COLUMN 2: QUANTITY + DELETE -->
            <td align="center">
              <a
                href="{% url 'cart_decrease' ci.item.id name %}"
                class="table-action"
                >−</a
              >
              <span class="qty-box">{{ ci.quantity }}</span>
              <a
                href="{% url 'cart_increase' ci.item.id name %}"
                class="table-action"
                >+</a
              >
              <a
                href="{% url 'cart_delete' ci.item.id name %}"
                class="table-action danger"
                >🗑</a
              >
            </td>

            <!-- COLUMN 3: PRICE -->
            <td align="center">
              ₹ {{ ci.item.price }} × {{ ci.quantity }}<br />
              <span class="price">₹ {{ ci.subtotal }}</span>
            </td>
          </tr>

          {% empty %}
          <tr>
            <td colspan="3" class="table-empty">Your cart is empty</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
