<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'delivery/cards.css' %}">
    <link rel="stylesheet" href="{% static 'delivery/customer_home.css' %}">
</head>

<body>
    <h3>Welcome {{ name }}!</h3>

    <!--Universal search-->
    <input type="text" id="searchBox" placeholder="Search restaurant or food..."
        style="width:300px;padding:8px;margin-bottom:20px;">


    <div class="card-container" id="restaurantContainer">
        {% if restaurantList %}
        {% for r in restaurantList %}
        <div class="cards">
            <img src="{{ r.picture|default:'/static/delivery/images/default.jpg' }}" alt="{{ r.name }}">

            <h4>{{ r.name }}</h4>
            <p><strong>Cuisine:</strong> {{ r.cuisine }}</p>
            <p><strong>Rating:</strong> {{ r.rating }}</p>

            <a href="{% url 'view_menu' r.id name %}">
                View Menu
            </a>
        </div>
        {% endfor %}
        {% else %}
        <p>No restaurants found for "{{ query }}"</p>
        {% endif %}
    </div>

    <script>
        const CUSTOMER_NAME = "{{ name }}";
    </script>
    <script src="{% static 'delivery/ajax.js' %}"></script>

</body>

</html>