<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'delivery/cards.css' %}">
</head>
<body>
    <h3>Welcome {{name}}!</h3>

    <a href="{% url 'show_cart' name %}" > Go to cart</a>

    <!-- show current menu -->
    <div class="card-container">
        {% for item in itemList %}
            <div class="cards">
                <img src="{{ item.picture|default:'static/delivery/images/default.jpg' }}" alt="{{ item.name }}">

                <h4>{{ item.name }}</h4>
                <p>{{ item.description }}</p>
                <p><strong>Price:</strong> ₹{{ item.price }}</p>
                <p><strong>Veg:</strong> {{ item.vegeterian }}</p>

                <a href="{% url 'add_to_cart' item.id name %}">
                    Add to cart
                </a>
            </div>
        {% endfor %}
    </div>
</body>
</html>