<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'delivery/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'delivery/index.css' %}" />

    <title>Welcome page</title>
  </head>
  <body>
    <div
      class="bg"
      style="
        background-image:
          linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.65)),
          url('{% static "delivery/images/background.jpg" %}');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      "
    >
      <div class="glass-card">
        <h1 class="title">Meal-Dot-Com</h1>

        <div class="tabs">
          <button id="signinBtn" onclick="showSignIn()">Sign In</button>
          <button id="signupBtn" onclick="showSignUp()">Sign Up</button>
        </div>

        {% if error %}
        <p class="msg error">{{ error }}</p>
        {% endif %} {% if success %}
        <p class="msg success">{{ success }}</p>
        {% endif %}

        <!-- Sign In -->
        <div id="signin" class="form-box">
          <h2>Sign In</h2>
          <form method="post" action="{% url 'signin' %}">
            {% csrf_token %}
            <input type="email" placeholder="Email" name="email" required />
            <input
              type="password"
              placeholder="Password"
              name="password"
              required
            />
            <button type="submit">Login</button>
          </form>
        </div>

        <!-- Sign Up -->
        <div id="signup" class="form-box hidden">
          <h2>Sign Up</h2>
          <form action="{% url 'signup' %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Name" name="name" required />
            <input type="email" placeholder="Email" name="email" required />
            <input
              type="password"
              placeholder="Password"
              name="password"
              required
            />
            <input type="text" placeholder="Phone" name="phone" required />
            <button type="submit">Register</button>
          </form>
        </div>
      </div>
    </div>

    <script src="{% static 'delivery/main.js' %}"></script>
    <script>
      autoToggleForm("{{ show }}");
    </script>
  </body>
</html>
