<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurants</title>
</head>
<body>
  <table border="1">
    <thead>
      <tr>
        <th>Restaurant name</th>
        <th>Picture</th>
        <th>Address</th>
        <th>Cuisine</th>
        <th>Rating</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      {% for r in restaurantList %}
        <tr>
          <td>{{ r.name }}</td>
          <td>
            <img src="{{ r.picture }}">
          </td>
          <td>{{ r.address }}</td>
          <td>{{ r.cuisine }}</td>
          <td>{{ r.rating }}</td>
          <td>
            <a href="">
              Update
            </a><br>
            
            <a href="">
              Delete
            </a><br>
            <a href="">
              Menu
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>  
</body>
</html>