<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'delivery/cards.css' %}">
    <link rel="stylesheet" href="{% static 'delivery/modals.css' %}">
</head>

<body>
    <!-- show current menu -->
    <h2>Menu Items</h2>

    <!--Button to open add item modal-->
    <button onclick="openAddMenuModal()">Add Item</button>
    <!-- ADD MENU ITEM MODAL -->
    <div id="addMenuModal" class="modal">
        <div class="modal-content modal-form">
            <span class="close" onclick="closeAddMenuModal()">&times;</span>

            <h3>Add Menu Item</h3>

            <form action="{% url 'update_menu' restaurant.id %}" method="post">
                {% csrf_token %}

                <label>Item Name</label>
                <input type="text" name="name" required>

                <label>Description</label>
                <textarea name="description" required></textarea>

                <label>Price</label>
                <input type="number" name="price" step="0.01" required>

                <div class="checkbox-row">
                    <input type="checkbox" name="vegeterian">
                    <label>Vegetarian</label>
                </div>

                <label>Image URL</label>
                <input type="url" name="picture">

                <br>
                <button type="submit">Add Item</button>
            </form>
        </div>
    </div>

    <div class="card-container">
        {% for item in itemList %}
        <div class="cards">
            <img src="{{ item.picture|default:'/static/delivery/images/default.jpg' }}" alt="{{ item.name}}">

            <h4>{{ item.name }}</h4>
            <p>{{ item.description }}</p>
            <p><strong>Price:</strong> ₹{{ item.price }}</p>
            <p><strong>Veg:</strong> {{item.vegeterian }}</p>

            <form action="{% url 'delete_menu_item' item.id %}" method="post">
                {% csrf_token %}
                <button type="submit" onclick="return confirm('Delete this item?')">
                    Delete
                </button>
            </form>
        </div>
        {% endfor %}
    </div>

    <script src="{% static 'delivery/modals.js' %}"></script>
</body>

</html>