/* Welcome text */
.welcome-text {
  margin: 16px 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  background: #fc8019;
  color: white;
}

.nav-left {
  flex: 1;
}

.nav-center {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

#searchBox {
  width: 420px;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
}

.nav-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.profile-wrapper {
  position: relative;
}

.profile-icon {
  cursor: pointer;
  font-size: 22px;
}

.profile-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 35px;
  background: white;
  color: black;
  width: 160px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  z-index: 2000;
}

.profile-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.profile-menu a:hover {
  background: #f2f2f2;
}
